extends layout

block content
  h1= title
  - var result = results
  div(class="container-fluid")
     div(class="row m-1")
        each item,index in result
            - let destination = `dispatch(\"/Game/update?id=${item._id}\")`
            div(class="row-sm-2", class="m-1") item #{item.GameName}(#{item.GameType}) is #{item.GamePrice}
             button.btn( class="btn-primary ml-1", onclick= destination) Update
  script.
      function dispatch(path){
         window.location.href=path
      }