extends layout

block content
  h1= title
  - var result =  results
  div.container-fluid
     div.row
        each item,index in result
            div.col-sm-3(onclick=`buy(${index})`) Game Name: #{item["GameName"]}  <br>  Game Type: #{item["GameType"]} <br> Game Price: #{item["GamePrice"]} 
  script.
      function buy(ind){
         alert("your purchased item "+(ind+1))
      }